.array-container{
    position: absolute;
    display: table;
    left: 5%;
    bottom: 15%;
    width: 90%;
    height: 60%;
}

.array-wrapper{
    display: table-cell;
    vertical-align: bottom;
}

.array-element{
    position: relative;
    display: inline-table;
    vertical-align: bottom;
    margin-right: 0.1%;
    margin-left: 0.1%;
    background-color: #05386B;
}

.array-element-sorted{
    animation-name: sortedAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes sortedAnimation{
    0%   {background-color:#05386B;}
  100% {background-color:#2d72b8;}
}

.bottom-rectangle{
    /* background-image: linear-gradient(rgb(15, 175, 224), white); */
    background-color: #8EE4AF;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 15%;
}

.button-bar{
    position: absolute;
    width: 96vw;
    height: 25vh;
    left: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
}

.button-container{
    position: relative;
    height: 50%;
    margin-left: .1vw;
    margin-right: .1vw;
    vertical-align: top;
    flex: 1 0 15%
}

.sorting-button{
    height: 100%;
    width: 100%;
    font-size: 2vh;
    overflow-wrap: normal;
    background-color: #8EE4AF;
    border-radius: 20%;
    -webkit-appearance: none;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: Arial Black, Gadget, sans-serif;
    border: #05386B solid 1px;
    color: #05386B;
}

.disabled{
  background-color: #cccccc;
}

.sorting-button:focus {outline:0;}

.selected{
    background-color: #05386B;
    color: #f0f5de;
}


.active:hover{
    background-color: white;
}

.slider{
    position: absolute;
    -webkit-appearance: none;
    top: 45%;
    height: 10%;
    left: 0px;
    width: 100%;
    margin: 0px 0.2vw 0px;
    outline: none;
    background-color: #05386B;
    opacity: 0.8;
}

.slider-active:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

.slider::-webkit-slider-thumb {
     /* Override default look */
    appearance: none;
    width: 3vh; /* Set a specific slider handle width */
    height: 3vh; /* Slider handle height */
    background: #8EE4AF; /* Green background */
    border-radius: 20%;
  }

  .slider-active::-webkit-slider-thumb{
    cursor: pointer;
  }


.slider-label{
    position: relative;
    font-family: Arial Black, Gadget, sans-serif;
    color: #05386B;
    font-size: 2vh;
    text-align:  center;
}

button{
    border: none;
}