.array-container{
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 1200px;
}

.array-element{
    display: inline-block;
    margin: 0px 1px 0px;
}

.array-element-sorted{
    animation-name: sortedAnimation;
    animation-duration: 4s;

}

@keyframes sortedAnimation{
    0%   {background-color:black; left:0px; top:0px;}
  25%  {background-color:rgb(17, 9, 133); left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:rgb(15, 209, 209); left:0px; top:200px;}
  100% {background-color:rgba(43, 255, 0, 0.699); left:0px; top:0px;}
}